/* HEADER */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(207, 198, 205);
  }
  
  header {
    background: rgb(145, 94, 134);
    height: 100px;
  }
  
  nav {
    width: 960px;
    margin: 0px auto;
  }
  nav a {
    color: rgb(235, 194, 218);

  }
  header img {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    width: 25% ;
  }
  
  header ul li {
    
    display: inline-block;
    float: right;
    margin-top: 40px;
    margin-right: 75px;
    
  }
  
  a {
    text-decoration: none;
    font-size: 150%;
    
  }

  h3 {
      text-align: center;
  }
  
  /* main */
  main {
    width: 960px;
    margin: 30px auto;
  }
  .main-name {
      position: relative;
      text-align: center;
      color: white;
      
  }
  .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(175, 111, 161, 0.5);
    width: 100%;
    height: 100%;
    
  }
.main-title h1 {
    font-family: 'Anton', sans-serif;
    font-size: 500%;
    padding-top: 5%;
}

  

  .gallary {
    margin: 0 auto;
    width: 960px;
  }

  .grid h2 {
      text-align: center;
      font-size: 180%;
      color: rgb(114, 53, 101);
  }
  .center {
    padding-left: 10px;
  }
  
  
  .col-1-3, .col-1-2{
    float: left;
  }
  
  .col-1-3 {
    width: 33.33%;
    
  }
  
  .col-1-2 {
    width: 50%;
  }
.col-1-3 a {
    color: rgb(177, 70, 132);

}
.moreshops {
    background-color: #444;
    width: 300px;
      height: 375px;
      
      
      
}
.locations-link {
    background-color: rgb(116, 65, 105);
}
.locations-link a {
    
    text-align: center;
    font-size: 150%;
    padding: 55% 10%;
    color: rgb(141, 125, 138);
    
}

  .fit {
      width: 300px;
      height: 375px;
      
  }
  .fit a {
      float: left;
  }
  .fit p a {
    color: rgb(116, 65, 105);

  }
/*   
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
   */
  /* *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } */
  
  
  .right {
    float: right;
  }
  
 
  /* .grid {
    margin-top: 30px;
  }
   */
  
  /* 3rd line */
  
  
  section div {
    padding-left: 30px;
    margin-bottom: 30px;
  }
  
.ourwork  {
      width: 480px;
      height: 400;
      padding-top: 50px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  section div p {
    height: 320px;
    overflow: auto;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
  }
  section .col-1-2 img {
      width: 180px;
      height: 180px;
  }

  
  /* FOOTER */
  footer {
    height: 150px;
      background: rgb(145, 94, 134);
      
  }
  footer p {
    font-size: 150%;
    text-align: center;
    padding-top: 60px;
  }
  header h1 {
    color: rgb(236, 183, 208);
    font-size: 300%;
    padding-top: 15px;
    text-align: center;
    }
      table {
          font-family: Georgia, 'Times New Roman', Times, serif;
          border: 5px solid #444;
          padding: 5%;
          margin: 2%;
          background-color: rgb(177, 160, 166);
      }
      table th {
        color: rgb(90, 40, 56);
        font-size: 150%;
      }
      table td {
          color: rgb(90, 18, 45);
          font-family: Arial, Helvetica, sans-serif;
          border: 1px solid #444;
          font-size: 150%;
      }
      .formTitle h2 {
          margin-left: 60px;
          font-size: 180%;
color: rgb(90, 40, 56);
      }
      form {
        position: relative;
        width  : 1200px;
        margin : 0 auto;
        background: rgb(177, 160, 166);
      }
  input, textarea, select {
    width : 150px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(240, 229, 233);
  }
  legend {
    width: 1px;
    height: 20px;
    overflow: hidden;
    position: absolute;
  }